@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<City>

<div class="card">
    <h5 class="card-header">Where do you want to go</h5>
    <div class="card-body">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">@item.Country.Name</h6>
                            <a asp-controller="Booking" asp-action="Book" asp-route-cityId="@item.Id" class="card-link">Show Hotels</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
