<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ParkViewServices</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/explorecss/ihover.css" />
    <link rel="stylesheet" href="~/css/explorecss/style.css" />
    <link rel="stylesheet" href="~/roomcard/css/style.css" />
    <link rel="stylesheet" href="~/fontawesome-free-5.13.0-web/css/all.css">
    <link rel="stylesheet" href="~/css/reservation/style.css" />
    
    

    <style>
      ul{
          margin:0px;
          padding:inherit;
      }

      .container-fluid{
          padding:7px 0px 7px 70px;
      }
      

      .navbar-collapse{
          padding:0px 30px;
      }
      .nav-item{
          margin:0px 10px;
          font-size:18px;
      }
    </style>
</head>
<body>
    
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black box-shadow">
            <div class="container-fluid" >
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo/white-stripped.png" height="40"  /></a>
              
                <div class="navbar-collapse @*collapse d-sm-inline-flex justify-content-between*@">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Booking" asp-action="Index">Book</a>
                        </li>
                        
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="footercontainer">
            &copy; 2023 - ParkViewServices - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <script>
        function callback() {
            alert("We will reach to you soon.");
            return true;
        }
    </script>

    <style>
        .dropdown:hover > .dropdown-menu {
            display: block;
        }
    </style>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
